{% extends 'base.html'%}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <main>
        <!-- Background image -->
        <div
          class="bg-image"
          style="background-image: url({{ url_for('static', filename='images/juice3.jpg') }});
            height: 100vh;"
        >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 100vh;">
            <div class="container d-flex flex-column justify-content-center align-items-center h-100" >
                <h1 class="text-white mb-0">Fresh juice is a source <br/>of vitamins to make you feel better. Let's get started!</h1>
                <a class="btn btn-outline-light btn-lg m-5" href="#" role="button" rel="nofollow" target="_self">Create your juice!</a>
            </div>
          </div>
        </div>
    <!-- Background image -->
    </main>
{% endblock %}